<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#41414C" />
    <link rel="shortcut icon" href="images/favicon.svg" type="image/png" />
    <title>ToDoList 360</title>
    
    <!-- Pasta com toda estilização da pagina de editar item -->
    <link rel="stylesheet" href="/styles/partials/add-edit/main.css" />
    <link rel="stylesheet" href="/styles/partials/add-edit/page-header.css" />
    <link rel="stylesheet" href="/styles/partials/add-edit/cards.css" />
    <link rel="stylesheet" href="/styles/partials/add-edit/buttons.css" />
    <link rel="stylesheet" href="/styles/partials/add-edit/forms.css" />
    <link rel="stylesheet" href="/styles/partials/add-edit/animations.css" />
    <link rel="stylesheet" href="/styles/pages/add-list.css" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&family=Inter:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    
  </head>
  <body id="page-list">
   
    <!-- HEADER - REAPROVEITAMENTO -->
    <%- include('parts/page-header', {title: 'Editar Item'})%>

    <div class="container flex animate-up delay-2">
      <main>
        <form id="form-list" method="POST">
          <fieldset>
            <legend>Dados do Item - <strong style='color:var(--color-secondary);'><%= list.name %></strong></legend>
            <div class="separator light"></div>

            <div class="input-wrapper">
              <label for="name">Título do item</label>
              <input type="text" id="name" name="name" maxlength="30" value="<%= item.name %>"/>
            </div>

            <div class="input-group">
            </div>
          </fieldset>
    
        </form>
      </main>
      <aside class="card">
        <img src="/images/logo-icon.svg" alt="Logo ToDoList V360">
        <p>
          Para salvar as modificações, clique em salvar
        </p>
        <div class="button-group">
          <button 
            class="button green" 
            form="form-list" 
            type="submit" 
            title="Salvar Dados">Salvar</button>
          <a 
            href="/" 
            class="button gray">
            Cancelar alteração
          </a>

          <button
            class="button red"
            type="submit"
            form="delete-item">Excluir Item</button>
        </div>
      </aside>
      
    </div>
    <!-- end container -->
    <form
      method="post"
      action="/delete/list/<%= list.id %>/item/<%= item.id %>"
      id = "delete-item"
    ></form>
  </body>
</html>
 